.mainpage1 {
    color: black;
    padding: 10px;
    width: 100%;
    height: 100vh;
    position: relative;
}

    .mainpage1::before {
        content: "";
        background-image: url("../styles/img/1129503.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    .mainpage1 > *
    {
        color: black;
        text-align: center;
        position: relative;
    }
    
    /* 
        1. 가상요소(before) 생성.
        2. 가상요소에 배경이미지 및 관련 CSS 설정.
        3. 가상요소의 위치(top/ left / right / bottom)는 모두 0으로 설정.
        4. 배경이미지 이외 요소들은 position: relative; 설정으로 상위로 띄우기.
    */
    
    .mainpage2 {
        color: black;
        padding: 10px;
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
        .mainpage2::before {
            content: "";
            background-image: url("../styles/img/wallpapersden.com_genshin-impact-2020_1920x1080.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    
        .mainpage2 > *
        {
            color: black;
            text-align: center;
            position: relative;
        }

        .mainpage3 {
            color: black;
            padding: 10px;
            width: 100%;
            height: 100vh;
            position: relative;
        }
        
            .mainpage3::before {
                content: "";
                background-image: url("../styles/img/EyZEIOSXIAQNxu6.jfif");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.7;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
            }
        
            .mainpage3 > *
            {
                color: black;
                text-align: center;
                position: relative;
            }

            .mainpage4 {
                color: black;
                padding: 10px;
                width: 100%;
                height: 100vh;
                position: relative;
            }
            
                .mainpage4::before {
                    content: "";
                    background-image: url("../styles/img/Genshin.Impact.full.3501128.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0.7;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                }
            
                .mainpage4 > *
                {
                    color: black;
                    text-align: center;
                    position: relative;
                }