.mainpage-content-banner {
    width: 100%;
    height: 33.3%;
    overflow: hidden;
    position: relative;
}

.banner3 {
    width: 100%;
    height: 100%;
    background-image: url("../../img/background/banner/Inazuma.jpg");
    position: absolute;
}
.banner3:hover {
    background-image: url("../../img/character/Banner/Character_Ayaka_banner.png"), url("../../img/emblem/Emblem_Inazuma.webp"), url("../../img/background/banner/Inazuma.jpg");
    background-size: 600px 200px, 200px 200px, 1920px 260px;
    background-position: 0 0, 920px 0px, 0 0;
    background-repeat: no-repeat;
    border: 25px solid snow;
    box-sizing: border-box;
    transform: scale(1.2);
    transition: 0.5s;
    position: absolute;
}
.banner3 > a {
    color: black;
    opacity: 1;
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
}
.banner3:hover > a {
    color: black;
    font-size: xx-large;
    font-weight: 900;
    transform: scale(1.2);
    transition: 0.5s;
    text-transform: uppercase;
}