/* 이나즈마 배너 가로 */
/* 이나즈마 배너 가로 */
#IBannerHor-Outer {
    width: 100%;
    height: 100%;

    background-image: url("../../img/background/banner/Inazuma.jpg");
    background-size: 2300px 300px;
    background-repeat: no-repeat;
    background-position: 0px 0px;

    border-radius: 35px;

    display : flex;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#IBannerHor-HoverIMG {
    width: 65%;
    height: 100%;
    
    background-image: url("../../img/character/Character_Raiden_Shogun_Full_Wish.webp");
    background-size: 1100px 1000px;
    background-repeat: no-repeat;
    background-position: -100px -150px;

    visibility: hidden;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

#IBannerHor-Text {
    width: 20%;
    height: 100%;

    margin-top: 60px;
    margin-right: 100px;

    font-family: 'GIfont';
    font-size: xx-large;

    visibility: hidden;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

#IBannerHor-Emblem {
    width: 15%;
    height: 100%;
    
    background-image: url("../../img/emblem/Emblem_Inazuma.webp");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: 0px 0px;

    visibility: hidden;


    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

#IBannerHor-Outer:hover #IBannerHor-HoverIMG {
    visibility: visible;
    animation: ShowUp 1s;
}
#IBannerHor-Outer:hover #IBannerHor-Text {
    visibility: visible;
    animation: ShowUp 1s;
}
#IBannerHor-Outer:hover #IBannerHor-Emblem {
    visibility: visible;
    animation: ShowUp 1s;
}

