/* 몬드 배너 가로 */
/* 몬드 배너 가로 */
#MBannerHor-Outer {
    width: 100%;
    height: 100%;

    background-image: url("../../img/background/banner/Mondstadt.jpg");
    background-size: 2300px 300px;
    background-repeat: no-repeat;
    background-position: 0px 0px;

    border-radius: 35px;

    display : flex;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#MBannerHor-HoverIMG {
    width: 65%;
    height: 100%;
    
    background-image: url("../../img/character/Character_Venti_Full_Wish.webp");
    background-size: 800px 800px;
    background-repeat: no-repeat;
    background-position: -50px -220px;

    visibility: hidden;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

#MBannerHor-Text {
    width: 20%;
    height: 100%;

    margin-top: 60px;
    margin-right: 100px;

    font-family: 'GIfont';
    font-size: xx-large;

    visibility: hidden;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

#MBannerHor-Emblem {
    width: 15%;
    height: 100%;
    
    background-image: url("../../img/emblem/Emblem_Mondstadt.webp");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: -20px -5px;

    visibility: hidden;


    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

#MBannerHor-Outer:hover #MBannerHor-HoverIMG {
    visibility: visible;
    animation: ShowUp 1s;
}
#MBannerHor-Outer:hover #MBannerHor-Text {
    visibility: visible;
    animation: ShowUp 1s;
}
#MBannerHor-Outer:hover #MBannerHor-Emblem {
    visibility: visible;
    animation: ShowUp 1s;
}
