/* 원신 소개 페이지 CSS */

/* 페이지 배경화면 설정 */
/* 배경화면 위에 흰색 투명 바탕의 컨텐츠 영역이 배치됨. */

/* 페이지 배경화면 설정 */
/* 페이지 배경화면 설정 */
.GFV2-BackgroundArea {
    color: black;
    padding: 10px;
    width: 1920px;
    height: 1600px;
    position: relative;
}
.GFV2-BackgroundArea > * {
    color: black;
    text-align: center;
    position: relative;
}

/* 페이지 배경화면 - 배경 이미지 설정 */
/* 페이지 배경화면 - 배경 이미지 설정 */
.GFV2-BackgroundIMG::before {
    content: "";
    background-image: url("../img/background/MondstadtCastleWhite.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/* 컨텐츠 배치 방식 */
/* 컨텐츠 배치 방식 */
.GFV2-Background-SectionConfig {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

/* 컨텐츠 배치구역 설정 */
/* 컨텐츠 배치구역 설정 */
/* 전체 컨텐츠 배치구역 설정 */
.GFV2-Content-Outer-Main {
    width: 95%;
    height: 90%;
    margin-top: 63px;
    
    display: inline-block;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 컨텐츠 Outer 영역 컨텐츠 배치 방식 설정 */
.GFV2-ContentOuter-SectionConfig {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

/* 세부 컨텐츠 배치구역 설정 */
.GFV2-Content-Title {
    width: 100%;
    height: 30%;

    position: relative;
}
.GFV2-Content-Title::before {
    content: "";
    background-color: black;
    opacity: 0;

    border-radius: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.GFV2-Content-Title > * {
    position: relative;
}
.GFV2-Content-TitleBanner {
    width: 100%;
    height: 100%;

    display: flex;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

.GFV2-Content-TitleBannerIMG {
    width: 40%;
    height: 100%;

    animation: ShowUp 1s;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
} 
.IMG1 {
    background-image: url("../img/character/Character_Amber_Full_Wish.webp");
    background-size: 700px 600px;
    background-repeat: no-repeat;
    background-position: 30px 40px;
}
.IMG2 {
    background-image: url("../img/character/character_Ganyu_portrait.png");
    background-size: 600px 400px;
    background-repeat: no-repeat;
    background-position: 0px 15px;
}

.GFV2-Content-TitleBannerTEXT {
    width: 20%;
    height: 100%;

    font-family: 'GIfont';
    font-size: 50px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    animation: ShowUp 1s;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}





.GFV2-Content-List {
    width: 95%;
    height: 65%;
    
    display: inline-flex;
    align-items: center;
    flex-direction: column;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
.GFV2-Content-ListTable {
    width: 95%;
    height: 95%;

    display: inline-flex;
    align-items: center;
    flex-direction: column;

    position: relative;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
.GFV2-Content-ListTable::before {
    content: "";
    background-color: black;
    opacity: 0;

    border-radius: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.GFV2-Content-ListTable > * {
    position: relative;
}






.GFV2-Content-Table {
    width: 1200px;
    height: 75px;

    top: 30px;

    margin-top: 3px;

    display: flex;
    justify-content: center;
    flex-direction: row;

    font-family: 'GIfont';
    font-size: large;

    /* border: 1px solid black;
    border-style: solid none; */

    position: relative;
}
.GFV2-Content-Table::before {
    content: "";
    background-color: black;
    opacity: 0.1;

    border-radius: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.GFV2-Content-Table > * {
    position: relative;
}

.GFV2-Content-Table:hover {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;

    background-image: url("../img/ingameasset/Element_Anemo.png");
    background-size: 600px 400px;
    background-repeat: no-repeat;
    background-position: 210px 0px;
}
.GFV2-Content-Table:hover .GFV2-Content-ListTitle > a {
    text-decoration: none;
    color: red;
    font-size: 25px;
    animation: ShowUp 1s;
}



.GFV2-Content-ListNumber {
    width: 10%;
    height: 100%;

    margin-top: 10px;
}
.GFV2-Content-ListTitle {
    width: 65%;
    height: 100%;

    margin-top: 5px;
}
.GFV2-Content-ListTitle > a {
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: black;
}

.GFV2-Content-ListTime {
    width: 25%;
    height: 100%;

    margin-top: 10px;
}











.GFV2-Content-Button {
    width: 95%;
    height: 10%;

    margin-top: 20px;

    display: flex;
    justify-content: center;
    flex-direction: row;

    position: relative;
}
.GFV2-Content-Button::before {
    content: "";
    background-color: black;
    opacity: 0.1;

    border-radius: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.GFV2-Content-Button > * {
    position: relative;
}


.GFV2-Content-Paging {
    width: 60%;
    height: 95%;

    margin-top: 3px;

    display: inline-flex;
    align-items: center;
    flex-direction: column;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

.GFV2-Content-Write {
    width: 40%;
    height: 95%;

    margin-top: 3px;

    display: inline-flex;
    align-items: center;
    flex-direction: column;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

.GFV2-Content-PagingButton {
    width: 80%;
    height: 30%;

    margin-top: 45px;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

.GFV2-Content-WriteButton {
    width: 70%;
    height: 80%;

    margin-top: 15px;

    background-color: #E1F6FA;

    border-radius: 15px;

    font-family: 'GIfont';
    font-size: xx-large;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
.GFV2-Content-WriteButton > a {
    text-decoration: none;
    color: black;
}

.GFV2-Content-WriteButton:hover {
    animation: ShowUp 1s;
    font-size: xx-large;

    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border-radius: 15px;

    background-image: url("../img/character/Character_Klee_Full_Wish.webp");
    background-size: 700px 800px;
    background-repeat: no-repeat;
    background-position: -80px -50px;
}


