/* 자유게시판 페이지 CSS */
/* 자유게시판 페이지 CSS */

/* 비디오 배경화면 설정 */
/* 비디오 배경화면 설정 */

/* 페이지 배경영역 설정 */
.GF-BackgroundArea {
    color: black;
    padding: 20px;
    width: 100%;
    height: 1200px;
    position: relative;
}
.GF-BackgroundArea > * {
    color: black;
    text-align: center;
    position: relative;
}

/* 페이지 배경화면 - 배경 이미지 설정 */
.GF-BackgroundIMG::before {
    content: "";
    background-attachment: fixed;
    background-image: url("../img/background/InazumaMT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/* Background 컨텐츠 배치 방식 */
/* Background 컨텐츠 배치 방식 */
.GF-Background-SectionConfig {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

/* 컨텐츠 Outer 영역 설정 */
/* 컨텐츠 Outer 영역 설정 */
.GF-ForumView-ContentOuter {
    width: 90%;
    height: 90%;

    margin-top: 70px;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* Outer 영역 컨텐츠 배치 방식 설정 */
.WIFM-ContentOuter-SectionConfig {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-top: 70px;
}

/* 컨텐츠 Inner 영역 설정 */
/* 컨텐츠 Inner 영역 설정 */
.GF-ForumView-ContentInner {
    width: 100%;
    height: 100%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}


/* 컨텐츠 영역 설정 */
/* 컨텐츠 영역 설정 */

/* 제목 영역 설정 */
/* 제목 영역 설정 */
.GF-Pagetitle-Title {
    width: 100%;
    height: 15%;

    position: relative;

    display : flex;
}
.GF-Pagetitle-Title::before {
    content: "";
background-image: url("../img/background/city/Liyue.jpg");
    background-size: 2450px 1200px;
    background-repeat: no-repeat;
    background-position: 0px -650px;

    opacity: 0.7;

    border-radius: 35px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.GF-Pagetitle-Title > * {
    position: relative;
}
.GF-Pagetitle-TitleBanner {
    width: 100%;
    height: 100%;
    
    background-image: url("../img/character/character_Ganyu_portrait.png");
    background-size: 600px 400px;
    background-repeat: no-repeat;
    background-position: 1300px -10px;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
.GF-Pagetitle-TitleBannerText {
    text-shadow: 2px 2px 2px white;

    margin-top: 60px;

    font-family: 'GIfont';
    font-size: xx-large;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 목록 영역 설정 */
/* 목록 영역 설정 */
.GF-Pagetitle-List {
    width: 100%;
    height: 65%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
.GF-Pagetitle-ListTable {
    width: 98.5%;
    height: 97%;

    margin: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

.GF-Forumlist-Listtable-Table {
    width: 75%;
    height: 90%;

    margin-top: 30px;
}

.GF-Forumlist-Listtable-Thead {
    width: 100%;
    height: 30%;

    font-family: 'GIfont';
    font-size: medium;

    background-color: white;
    opacity: 0.9;
}
.GF-Forumlist-Listtable-tbody {
    width: 100%;
    height: 70%;

    position: relative;

    font-family: 'GIfont';
    font-size: medium;
}
.GF-Forumlist-Listtable-tbody::before {
    content: "";
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.GF-Forumlist-Listtable-tbody > * {
    position: relative;
}
.GF-Forumlist-Listtable-tbody:hover {
    opacity: 0.7;
}

.GF-Forumlist-Listtable-ShowNumber {
    width: 10%;
    height: 100%;

    text-decoration: none;
}
.GF-Forumlist-Listtable-ShowTitle {
    width: 70%;
    height: 100%;
}
.GF-Forumlist-Listtable-ShowTitle > * {
    text-decoration: none;
    color: black;
}
.GF-Forumlist-Listtable-ShowWriteTime {
    width: 20%;
    height: 100%;
}


/* 버튼 영역 설정 */
/* 버튼 영역 설정 */
.GF-Pagetitle-Button {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 페이징 버튼 영역 설정 */
.GF-Pagetitle-Button-Paging {
    width: 70%;
    height: 70%;

    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

    display: inline-flex;
    align-items: center;
    flex-direction: column;

    position: relative;



    font-family: 'GIfont';
    font-size: medium;
}
.GF-Pagetitle-Button-Paging::before {
    content: "";
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    border-radius: 30px;
}
.GF-Pagetitle-Button-Paging > * {
    position: relative;
    
}

.GF-Pagetitle-Button-PagingButton {
    width: 80%;
    height: 80%;

    margin-top: 55px;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 글쓰기 버튼 영역 설정 */
.GF-Pagetitle-Button-Write {
    width: 30%;
    height: 100%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 글쓰기 버튼 배경 이미지 */
.GF-Pagetitle-Button-WriteButton {
    width: 80%;
    height: 80%;

    margin-top: 20px;
    margin-left: 50px;

    background-color: #E1F6FA;

    border-radius: 15px;

    display: flex;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 글쓰기 버튼 이름과 Hover 이미지 */
/* 마우스 Hover시에만 띄워지도록 */
.GF-Pagetitle-Button-WriteButtonText {
    width: 30%;
    height: 100%;

    visibility: hidden;
}
.GF-Pagetitle-Button-WriteButtonHoverIMG {
    width: 70%;
    height: 100%;

    background-image: url("../img/character/Character_Klee_Full_Wish.webp");
    background-size: 700px 800px;
    background-repeat: no-repeat;
    background-position: -70px 0px;

    visibility: hidden;
}
.GF-Pagetitle-Button-WriteButton:hover .GF-Pagetitle-Button-WriteButtonHoverIMG {
    animation: ShowUp 1s;

    visibility: visible;
}
.GF-Pagetitle-Button-WriteButton:hover .GF-Pagetitle-Button-WriteButtonText {
    animation: FadeIn 1s;

    visibility: visible;
    color: black;
    font-family: 'GIfont';
    font-size: xx-large;
}