/* 여러 CSS에서 공통적으로 사용되는 부분들은 이곳에 기재. */
/* import "../style/css/Global.css"; */

/* 원신 폰트 설정 */
@font-face {
    font-family: 'GIfont';
    src: url('../font/ja-jp.ttf') format('truetype');
}

/* 애니메이션 효과 */
/* 아래에서 위로 등장하는 fadeUp */
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 15%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

/* 투명도 100에서 0으로 낮아지는 fadeUp */
@keyframes ShowUp {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* CSS 공부용도로 작성해둔 코드 */

/* 내부 아이템 세로 정렬 */
#Content-horizontal {

    /* 내부 아이템을 세로로 배치 */
    display: inline-flex;

    /* 내부 아이템을 세로 기준 중앙으로 배치 */
    align-items: center;

}

/* 내부 아이템 가로 정렬 */
#Content-verticality {

    /* 내부 아이템을 가로로 배치 */
    display: flex;

    /* 내부 아이템을 가로 기준 중앙으로 배치 */
    justify-content: center;

}

/* 내부 아이템의 배치 방향 */
#Content-direction {

    /* 내부 아이템을 가로 왼쪽-> 오른쪽으로 배치 */
    flex-direction: row;

    /* 내부 아이템을 세로 위쪽-> 아래쪽으로 배치 */
    flex-direction: column;
    
}
