.mainpage-background-1 {
    color: black;
    padding: 10px;
    width: 100%;
    height: 100vh;
    position: relative;
}

    .mainpage-background-1::before {
        content: "";
        background-image: url("../img/background/TravelerCelestial.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    .mainpage-background-1 > *
    {
        color: black;
        text-align: center;
        position: relative;
    }

.mainpage-content-outer {
    width: 1600px;
    height: 1050px;
    margin-top: 80px;
    display: inline-block;
}

.mainpage-content-outer > * {
    color: black;
    text-align: center;
    position: relative;
    display: inline-block;
}

.mainpage-content-outer::before {
    content: "";
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 20px;
}

.mainpage-content-title {
    margin-top: 30px;
    width: 80%;
    height: 20%;

    background-image: url("../img/ect/Genshin_Impact_logo.svg.png");
    background-size: 550px 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.mainpage-content-iframe {
    margin-top: 60px;
    width: 80%;
    height: 20%
}

.mainpage-content-introduce {
    margin-top: 40px;
    width: 80%;
    height: 20%
}

.mainpage-content-introduce > h2 {
    word-spacing: 2px;
    line-height: 50px;
    opacity: 0.9;
    font-family: sans-serif;
}

.mainpage-content-contentsarea {
    margin: 50px;
    width: 90%;
    height: 90%;
}





    /* 
        1. 가상요소(before) 생성.
        2. 가상요소에 배경이미지 및 관련 CSS 설정.
        3. 가상요소의 위치(top/ left / right / bottom)는 모두 0으로 설정.
        4. 배경이미지 이외 요소들은 position: relative; 설정으로 상위로 띄우기.
    */
    
    .mainpage-background-2 {
        color: black;
        padding: 10px;
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
        .mainpage-background-2::before {
            content: "";
            background-image: url("../img/background/BarbatosMondstadt.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    
        .mainpage-background-2 > *
        {
            color: black;
            text-align: center;
            position: relative;
        }

    .mainpage-background-3 {
        color: black;
        padding: 10px;
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
        .mainpage-background-3::before {
            content: "";
            background-image: url("../img/background/MoraxLiyue.jfif");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    
        .mainpage-background-3 > *
        {
            color: black;
            text-align: center;
            position: relative;
        }

        #MP-Content-Bannarouter {
            width: 100%;
            height: 100%;      
            display: inline-flex;

            /* 영역 확인용 경계선 설정 */
            /* border: 1px solid black; */
        }

        #MP-Content-Bannar1 {
            width: 33.3%;
            height: 100%;
            
            background-image: url("../img/background/city/Mondstadt.jpg");
            background-size: 1800px 1000px;
            background-repeat: no-repeat;
            background-position: -400px 0px;

            /* 영역 확인용 경계선 설정 */
            /* border: 1px solid black; */
        }
        #MP-Content-Bannar1:hover {
            background-image: url("../img/character/Character_Venti_Full_Wish.webp"), url("../img/background/city/Mondstadt.jpg");
            background-size: 800px 800px, 1800px 1000px;
            background-repeat: no-repeat;
            background-position: -150px 0px, -400px 0px;
            animation: fadeInUp 0.6s;
        }

        #MP-Content-Bannar2 {
            width: 33.3%;
            height: 100%; 

            background-image: url("../img/background/city/Liyue.jpg");
            background-size: 1800px 1000px;
            background-repeat: no-repeat;
            background-position: 0px 0px;

            /* 영역 확인용 경계선 설정 */
            /* border: 1px solid black; */
        }
        #MP-Content-Bannar2:hover {
            background-image: url("../img/character/Character_Zhongli_Full_Wish.webp"), url("../img/background/city/Liyue.jpg");
        }

        #MP-Content-Bannar3 {
            width: 33.3%;
            height: 100%; 

            background-image: url("../img/background/city/Inazuma.jpg");
            background-size: 1800px 1000px;
            background-repeat: no-repeat;
            background-position: -1100px 0px;

            /* 영역 확인용 경계선 설정 */
            /* border: 1px solid black; */
        }
        #MP-Content-Bannar3:hover {
            background-image: url("../img/character/Character_Raiden_Shogun_Full_Wish.webp"), url("../img/background/city/Inazuma.jpg");
        }

        @keyframes fadeUp {
            0% {
                opacity: 0;
                transform: translate3d(0, 15%, 0);
            }
            to {
                opacity: 1;
                transform: translateZ(0);
            }
        }




















        .mainpage-background-4 {
            color: black;
            padding: 10px;
            width: 100%;
            height: 100vh;
            position: relative;
        }
        
            .mainpage-background-4::before {
                content: "";
                background-image: url("../img/background/BaalInazuma.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.7;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
            }
        
            .mainpage-background-4 > *
            {
                color: black;
                text-align: center;
                position: relative;
            }