/* 몬드 소개 페이지 CSS */
/* 몬드 소개 페이지 CSS */

/* 페이지 배경영역 설정 */
.WIFM-BackgroundArea {
    color: black;
    padding: 20px;
    width: 100%;
    height: 6000px;
    position: relative;
}
.WIFM-BackgroundArea > * {
    color: black;
    text-align: center;
    position: relative;
}

/* 페이지 배경화면 - 배경 이미지 설정 */
.WIFM-BackgroundIMG::before {
    content: "";
    background-attachment: fixed;
    background-image: url("../img/background/MondstadtView.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/* 컨텐츠 배치 방식 */
/* 컨텐츠 배치 방식 */
.WIFM-Background-SectionConfig {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

/* 페이지 이동용 리모콘 CSS */
/* 페이지 이동용 리모콘 CSS */
#WIFM-Remotecontrol {
    width: 110px;
    height: 320px;
    top: 180px; 
    right: 50px;

    background-color: #EBF5FF;
    border-radius: 20px;
    opacity: 0.8;

    position: fixed; 
    text-align: center;
}

#WIFM-Remotecontrol-Icon {
    width: 100px;
    height: 100px;

    margin-left: 5px;
    
    background-image: url("../img/ingameasset/Element_Anemo.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.WIFM-Remotecontrol-Button {
    width: 80px;
    height: 40px;

    margin-top: 9px;
    margin-left: 13px;

    font-family: 'GIfont';
    font-size: large;
    font-weight: 500;

    border-radius: 30px;

    border: 2px #EBF5FF solid;
}
.WIFM-Remotecontrol-Button:hover {
    background-color: #464646;
    color: white;
}
.WIFM-Remotecontrol-Button:active {
    background-color: #a0a0a0;
    color: white;
}
.WIFM-Remotecontrol-Textbox {
    margin-top: 10px;
}

/* 컨텐츠 Outer 영역 설정 */
/* 컨텐츠 Outer 영역 설정 */
.WIFM-IntroduceMond-ContentOuter {
    width: 85%;
    height: 18%;

    /* 영역 확인용 경계선 설정 */
    border: 1px solid black;
}
.WIFM-IntroduceGod-ContentOuter {
    width: 85%;
    height: 18%;

    /* 영역 확인용 경계선 설정 */
    border: 1px solid black;
}
.WIFM-IntroduceCity-ContentOuter {
    width: 85%;
    height: 18%;

    /* 영역 확인용 경계선 설정 */
    border: 1px solid black;
}
.WIFM-IntroduceGov-ContentOuter {
    width: 85%;
    height: 18%;

    /* 영역 확인용 경계선 설정 */
    border: 1px solid black;
}
.WIFM-IntroduceViewpoint-ContentOuter {
    width: 85%;
    height: 18%;

    /* 영역 확인용 경계선 설정 */
    border: 1px solid black;
}
.WIFM-Logo-ContentOuter {
    width: 85%;
    height: 10%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 컨텐츠 Outer 영역 컨텐츠 배치 방식 설정 */
.WIFM-ContentOuter-SectionConfig {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-top: 70px;
}

/* 컨텐츠 Inner 영역 설정 */
/* 컨텐츠 Inner 영역 설정 */
.WIFM-IntroduceMond-ContentInner {
    width: 95%;
    height: 95%;

    /* 영역 확인용 경계선 설정 */
    border: 1px solid black;
}
.WIFM-IntroduceGod-ContentInner {
    width: 95%;
    height: 95%;

    /* 영역 확인용 경계선 설정 */
    border: 1px solid black;
}
.WIFM-IntroduceCity-ContentInner {
    width: 95%;
    height: 95%;

    /* 영역 확인용 경계선 설정 */
    border: 1px solid black;
}
.WIFM-IntroduceGov-ContentInner {
    width: 95%;
    height: 95%;

    /* 영역 확인용 경계선 설정 */
    border: 1px solid black;
}
.WIFM-IntroduceViewpoint-ContentInner {
    width: 95%;
    height: 95%;

    /* 영역 확인용 경계선 설정 */
    border: 1px solid black;
}
.WIFM-Logo-ContentInner {
    width: 95%;
    height: 95%;

    display: inline-flex;
    align-items: center;
    flex-direction: column;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 컨텐츠 영역 설정 */
/* 컨텐츠 영역 설정 */

/* 몬드 소개 영역 설정 */
/* 몬드 소개 영역 설정 */
.WIFM-IntroduceMond-TitleBanner {
    width: 100%;
    height: 25%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
    .WIFM-IntroduceMond-Banner {
        width: 100%;
        height: 100%;

        /* 영역 확인용 경계선 설정 */
        /* border: 1px solid black; */
    }

.WIFM-IntroduceMond-PhotoAndScript {
    width: 100%;
    height: 75%;

    display: flex;

    /* 영역 확인용 경계선 설정 */
    border: 1px solid black;
}
    .WIFM-IntroduceMond-Photo {
        width: 50%;
        height: 100%;

        /* 영역 확인용 경계선 설정 */
        border: 1px solid black;
    }
    .WIFM-IntroduceMond-Script {
        width: 50%;
        height: 100%;

        font-family: 'GIfont';
        font-size: xx-large;

        /* 영역 확인용 경계선 설정 */
        border: 1px solid black;
    }








/* 로고 영역 설정 */
/* 로고 영역 설정 */
.WIFM-Logo-ContentInner-MainLogo {
    width: 100%;
    height: 40%;

    margin-top: 100px;
    
    background-image: url("../img/ect/genshinimpectlogo\(white\).png");
    background-size: 400px 250px;
    background-repeat: no-repeat;
    background-position: center;
}
.WIFM-Logo-ContentInner-Slogan{
    width: 100%;
    height: 20%;

    background-image: url("../img/ect/gameslogan.png");
    background-size: 800px 80px;
    background-repeat: no-repeat;
    background-position: center;
}