/* 월드 소개 페이지 - 몬드성 소개 페이지 CSS */

/* 원신 폰트 설정 */
@font-face {
    font-family: 'GIfont';
    src: url('../font/ja-jp.ttf') format('truetype');
}

/* 투명화 애니매이션 */
@keyframes ShowUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 아래에서 위로 올라오는 애니매이션 */
@keyframes FadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 15%, 0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

/* 위에서 아래로 올라오는 애니매이션 */
@keyframes FadeDown {
    0% {
        opacity: 0;
        transform: translateZ(0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

/* 페이지 배경화면 설정 */
/* 배경화면 위에 흰색 투명 바탕의 컨텐츠 영역이 배치됨. */

/* 페이지 배경화면 설정 */
/* 페이지 배경화면 설정 */
.WINFM-BackgroundArea {
    color: black;
    padding: 10px;
    width: 100%;
    height: 100vh;
    position: relative;
}
.WINFM-BackgroundArea > * {
    color: black;
    text-align: center;
    position: relative;
}

/* 페이지 배경화면 - 배경 이미지 설정 */
/* 페이지 배경화면 - 배경 이미지 설정 */
.WINFM-BackgroundIMG1::before {
    content: "";
    background-image: url("../img/background/MondstadtView.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.WINFM-BackgroundIMG2::before {
    content: "";
    background-image: url("../img/background/BarbatosForest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.WINFM-BackgroundIMG3::before {
    content: "";
    background-image: url("../img/background/KnightsofFavonius.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.WINFM-BackgroundIMG4::before {
    content: "";
    background-image: url("../img/background/MondstadtCastle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.WINFM-BackgroundIMG5::before {
    content: "";
    background-image: url("../img/background/Mondstadtpond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/* 컨텐츠 배치구역 설정 */
/* 컨텐츠 배치구역 설정 */
#WINFM-Content-outer {
    width: 1600px;
    height: 1050px;
    margin-top: 80px;
    display: inline-block;
}

#WINFM-Content-outer > * {
    color: black;
    text-align: center;
    position: relative;
    display: inline-block;
}

#WINFM-Content-outer::before {
    content: "";
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 20px;
}

/* 실제컨텐츠 배치영역 설정 - 구역 틀 */
/* 실제컨텐츠 배치영역 설정 - 구역 틀 */
#WINFM-Content-ContentArea {
    margin: 15px;
    width: 97%;
    height: 97%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* div들을 중앙 기준 수직 정렬할 때 사용할 CSS */
#WINFM-Content-ContentAreaInnerverticality {
    width: 100%;
    height: 100%;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* div들을 중앙 기준 수평 정렬할 때 사용할 CSS */
#WINFM-Content-ContentAreaInnerorizontal{
    width: 100%;
    height: 100%;

    display: flex;
}

/* 몬드 개괄 */
/* 몬드 개괄 */
/* 몬드 개괄 */
/* 몬드 개괄 */
#WINFM-Content-ContentArea-IntroTitle {
    width: 30%;
    height: 15%;

    font-family: 'GIfont';
    font-size: xx-large;
    font-weight: 800;

    animation: FadeUp 1s;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 몬드 로고 */
/* 몬드 로고 */
#WINFM-Content-ContentArea-IntroLogo{
    width: 30%;
    height: 25%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-MondstadtLogo {
    width: 100%;
    height: 100%;
    background-image: url("../img/emblem/Emblem_Mondstadt.webp");
    background-size: 280px 280px;
    background-repeat: no-repeat;
    background-position: center;

    animation: ShowUp 1s;
}

/* 몬드 설명 */
/* 몬드 설명 */
#WINFM-Content-ContentArea-IntroScript{
    width: 100%;
    height: 25%;

    font-family: 'GIfont';
    font-size: xx-large;
    font-weight: 800;

    animation: FadeUp 1s;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 페이지 이동 버튼 */
/* 페이지 이동 버튼 */
#WINFM-Content-ContentArea-IntroMoveBtu{
    width: 100%;
    height: 35%;

    display: flex;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

#WINFM-Content-ContentArea-MoveGod {
    width: 25%;
    height: 90%;

    font-family: 'GIfont';
    font-size: x-large;
    font-weight: 500;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-MoveGodIMG {
    width: 100%;
    height: 100%;
    background-image: url("../img/character/Statue_of_the_Seven_Mondstadt.webp");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: 95px 0;

    animation: ShowUp 1s;
}

#WINFM-Content-ContentArea-MoveKnights{
    width: 25%;
    height: 90%;

    font-family: 'GIfont';
    font-size: x-large;
    font-weight: 500;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-MoveKnightsIMG {
    width: 100%;
    height: 100%;
    background-image: url("../img/emblem/Knights_of_Favonius_Coat_of_Arms.webp");
    background-size: 190px 190px;
    background-repeat: no-repeat;
    background-position: 100px 5px;

    animation: ShowUp 1s;
}

#WINFM-Content-ContentArea-MoveMondCastle{
    width: 25%;
    height: 90%;

    font-family: 'GIfont';
    font-size: x-large;
    font-weight: 500;

    /* 버튼 영역이 가운데 오도록 */
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-MoveMondCastleIMG {
    width: 55%;
    height: 65%;
    background-image: url("../img/background/button/Viewpoint_The_City_of_Wind.png");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: 0px 0px;

    border-radius: 150px 150px 150px 150px;

    animation: ShowUp 1s;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-MoveMondCastleIMG:hover {
    border: 4px solid red;
    animation: ShowUp 2s;
}

#WINFM-Content-ContentArea-MovePoint{
    width: 25%;
    height: 90%;

    font-family: 'GIfont';
    font-size: x-large;
    font-weight: 500;

    /* 버튼 영역이 가운데 오도록 */
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-MovePointIMG {
    width: 55%;
    height: 65%;
    background-image: url("../img/background/button/Mondstadtpond.png");
    background-size: 350px 350px;
    background-repeat: no-repeat;
    background-position: 0px 0px;

    border-radius: 150px 150px 150px 150px;

    animation: ShowUp 1s;
}

/* 바르바토스 소개 */
/* 바르바토스 소개 */
/* 바르바토스 소개 */
/* 바르바토스 소개 */
#WINFM-Content-ContentArea-IntroBarbatosIMGArea {
    width: 45%;
    height: 100%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-IntroBarbatosIMG {
    width: 100%;
    height: 100%;
    background-image: url("../img/character/character_venti_portrait-min.png");
    background-size: 680px 1000px;
    background-repeat: no-repeat;
    background-position: 0px 0px;

    animation: FadeUp 1s;
}

#WINFM-Content-ContentArea-IntroBarbatosScriptArea{
    width: 55%;
    height: 100%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

#WINFM-Content-ContentArea-IntroBarbatosScriptTitle {
    width: 100%;
    height: 15%;

    font-family: 'GIfont';
    font-size: xx-large;
    font-weight: 500;

    animation: ShowUp 3s;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-IntroBarbatosScriptIntro {
    width: 100%;
    height: 65%;

    font-family: 'GIfont';
    font-size: x-large;
    font-weight: 500;

    animation: ShowUp 3s;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-IntroBarbatosScriptblank {
    width: 100%;
    height: 10%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 페보니우스 기사단 소개 */
/* 페보니우스 기사단 소개 */
/* 페보니우스 기사단 소개 */
/* 페보니우스 기사단 소개 */

/* 구역 설정 */
/* 구역 설정 */
#WINFM-Content-ContentArea-FavoniusArea1 {
    width: 25%;
    height: 100%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-FavoniusArea2{
    width: 25%;
    height: 100%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-FavoniusArea3{
    width: 25%;
    height: 100%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#WINFM-Content-ContentArea-FavoniusArea4{
    width: 25%;
    height: 100%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}

/* 스크립트-이미지 설정 */
/* 스크립트-이미지 설정 */
#WINFM-Content-ContentArea-FavoniusArea1-Script {
    width: 100%;
    height: 100%;

    font-family: 'GIfont';
    font-size: x-large;
    font-weight: 500;

    display: none;
}
#WINFM-Content-ContentArea-FavoniusArea1-Script-Emblem {
    width: 100%;
    height: 100%;
    background-image: url("../img/emblem/Knights_of_Favonius_Coat_of_Arms.webp");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: 50px 300px;
}

#WINFM-Content-ContentArea-FavoniusArea1-IMG {
    width: 100%;
    height: 100%;
    background-image: url("../img/character/character_Albedo_portrait.webp");
    background-size: 700px 1200px;
    background-repeat: no-repeat;
    background-position: -150px 0px;

    animation: ShowUp 1s;
}
#WINFM-Content-ContentArea-FavoniusArea2-Script {
    width: 100%;
    height: 100%;

    font-family: 'GIfont';
    font-size: x-large;
    font-weight: 500;

    display: none;
}
#WINFM-Content-ContentArea-FavoniusArea2-IMG {
    width: 100%;
    height: 100%;

    width: 100%;
    height: 100%;
    background-image: url("../img/character/character_eula_portrait.png");
    background-size: 1200px 1750px;
    background-repeat: no-repeat;
    background-position: -350px -300px;

    animation: ShowUp 1s;
}
#WINFM-Content-ContentArea-FavoniusArea3-Script {
    width: 100%;
    height: 100%;

    font-family: 'GIfont';
    font-size: x-large;
    font-weight: 500;

    display: none;
}
#WINFM-Content-ContentArea-FavoniusArea3-IMG {
    width: 100%;
    height: 100%;

    width: 100%;
    height: 100%;
    background-image: url("../img/character/character_Diluc_portrait.webp");
    background-size: 600px 1450px;
    background-repeat: no-repeat;
    background-position: -135px 0px;

    animation: ShowUp 1s;
}
#WINFM-Content-ContentArea-FavoniusArea4-Script {
    width: 100%;
    height: 100%;

    font-family: 'GIfont';
    font-size: x-large;
    font-weight: 500;

    display: none;
}
#WINFM-Content-ContentArea-FavoniusArea4-IMG {
    width: 100%;
    height: 100%;

    width: 100%;
    height: 100%;
    background-image: url("../img/character/character_jean_portrait.png");
    background-size: 900px 1400px;
    background-repeat: no-repeat;
    background-position: -400px 0px;

    animation: ShowUp 1s;
}

/* 스크립트-이미지 전환 설정 */
/* 스크립트-이미지 전환 설정 */
#WINFM-Content-ContentArea-FavoniusArea1:hover #WINFM-Content-ContentArea-FavoniusArea1-Script {
    animation: FadeUp 1s;
    display: block;
}
#WINFM-Content-ContentArea-FavoniusArea1:hover #WINFM-Content-ContentArea-FavoniusArea1-IMG {
    display: none;
}
#WINFM-Content-ContentArea-FavoniusArea2:hover #WINFM-Content-ContentArea-FavoniusArea2-Script {
    animation: FadeUp 1s;
    display: block;
}
#WINFM-Content-ContentArea-FavoniusArea2:hover #WINFM-Content-ContentArea-FavoniusArea2-IMG {
    display: none;
}
#WINFM-Content-ContentArea-FavoniusArea3:hover #WINFM-Content-ContentArea-FavoniusArea3-Script {
    animation: FadeUp 1s;
    display: block;
}
#WINFM-Content-ContentArea-FavoniusArea3:hover #WINFM-Content-ContentArea-FavoniusArea3-IMG {
    display: none;
}
#WINFM-Content-ContentArea-FavoniusArea4:hover #WINFM-Content-ContentArea-FavoniusArea4-Script {
    animation: FadeUp 1s;
    display: block;
}
#WINFM-Content-ContentArea-FavoniusArea4:hover #WINFM-Content-ContentArea-FavoniusArea4-IMG {
    display: none;
}