/* 상단 메뉴바 CSS */

/* 원신 폰트 설정 */
@font-face {
    font-family: 'GIfont';
    src: url('../../font/ja-jp.ttf') format('truetype');
}

/* ul, li 태그의 기본 스타일을 제거 */
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#AB-Content-Outer{
    width: 100%;
    height: 70px;

    position: fixed;
    z-index: 999;

    background-color: black;
    opacity: 0.7;
}
#AB-Content-Outer > * {
    float: left;
    display : inline-flex;
}


#AB-Content-Inner-Logoarea {
    width: 12%;
    height: 100%;

    background-image: url("../../img/ect/genshinimpectlogo.png");
    background-size: 150px 70px;
    background-repeat: no-repeat;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#AB-Content-Inner-Pagemenuarea {
    width: 78.5%;
    height: 100%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#AB-Content-Inner-Usermenuarea {
    width: 8%;
    height: 100%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
#AB-Content-Inner-ResponsiveWebMenuarea {
    width: 0%;
    height: 0%;

    display: none;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}







#AB-Content-Inner-Logoarea-Button {
    width: 100%;
    height: 100%;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid black; */
}
    #AB-Content-Inner-Logoarea-Img {
        width: 90%;
        height: 90%;

        margin: auto;
        padding: 10px;

        /* 영역 확인용 경계선 설정 */
        /* border: 1px solid black; */
    }






#AB-Content-Inner-Pagemenuarea-Button {
    width: 100%;
    height: 100%;
    margin-left: 60px;
    margin-top: 24px;
    display : inline-flex;
}
    #AB-Content-Inner-Pagemenuarea-Button-box {
        margin-left: 20px;
    }

    #AB-Content-Inner-Pagemenuarea-Button-box > * {
        color: white;

        text-decoration: none;
        font-family: 'GIfont';
        font-size: large;
        font-weight: 100;
    
        /* 커서가 올라가면 글자 뒤에 배경색이 띄워지는 CSS (아래 절반만 배경)  */
        /* background-image: linear-gradient(transparent calc(100% - 3px), #000 3px); */
    }

    #AB-Content-Inner-Pagemenuarea-Button-box > *:hover {
        line-height: 1.2;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff;

        /* 커서가 올라가면 글자 뒤에 배경색이 띄워지는 CSS (아래 절반만 배경)  */
        /* background-image: linear-gradient(transparent 60%, gray 40%); */
    }

    .Pagemenuarea-Button-box1 > *:hover {
        border-bottom: 3px solid red; 
    }
    .Pagemenuarea-Button-box2 > *:hover {
        border-bottom: 3px solid blue; 
    }
    .Pagemenuarea-Button-box3 > *:hover {
        border-bottom: 3px solid yellow; 
    }
    .Pagemenuarea-Button-box4 > *:hover {
        border-bottom: 3px solid green; 
    }





#AB-Content-Inner-Usermenu-Button {
    width: 90%;
    height: 90%;

    margin-top: 5px;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid white; */
}
#AB-Content-Inner-Usermenu-Button-box {
    width: 120px;
    height: 50px;

    margin-top: 20px;
}

#AB-Content-Inner-Usermenu-Button-box > * {
    color: white;

    text-decoration: none;
    font-family: 'GIfont';
    font-size: large;
    font-weight: 100;

    /* 커서가 올라가면 글자 뒤에 배경색이 띄워지는 CSS (아래 절반만 배경)  */
    /* background-image: linear-gradient(transparent calc(100% - 3px), #000 3px); */
}

#AB-Content-Inner-Usermenu-Button-box > *:hover {
    /* color: red; */
    border-bottom: 3px solid blue; 
    line-height: 1.2;

    text-shadow: 0 0 10px #fff, 0 0 20px #fff;

    /* 커서가 올라가면 글자 뒤에 배경색이 띄워지는 CSS (아래 절반만 배경)  */
    /* background-image: linear-gradient(transparent 60%, gray 40%); */
}

/* 하단 메뉴를 숨김, 커서가 올라갈 때에만 메뉴가 드러나도록 조치 */
#AB-Content-Inner-Usermenu-Button-box-li {
    width: 50%;
    height: 50%;
    position: relative;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid white; */
}

#AB-Content-Inner-Usermenu-Button-box-li-ul {
    background: black;
    position: absolute;
    visibility: hidden;

    opacity: 0;

    /* 영역 확인용 경계선 설정 */
    /* border: 1px solid white; */
}

#AB-Content-Inner-Usermenu-Button-box-li:hover #AB-Content-Inner-Usermenu-Button-box-li-ul {
    opacity: 1;
    visibility: visible;
}

/* 반응형 웹 CSS 설정 */
/* 950px 이하에서는 유저 메뉴가 사라지도록 */
@media ( max-width: 950px ) {
    #AB-Content-Inner-Logoarea {
        width: 15%;
        height: 100%;
    
        background-image: url("../../img/ect/genshinimpectlogo.png");
        background-size: 150px 70px;
        background-repeat: no-repeat;
    
        /* 영역 확인용 경계선 설정 */
        /* border: 1px solid black; */
    }

    #AB-Content-Inner-Pagemenuarea {
        width: 85%;
        height: 100%;
    
        /* 영역 확인용 경계선 설정 */
        /* border: 1px solid black; */
    }
    
    #AB-Content-Inner-Usermenuarea {
        width: 0%;
        height: 0%;
    
        /* 영역 확인용 경계선 설정 */
        /* border: 1px solid black; */
    }

    #AB-Content-Inner-ResponsiveWebMenuarea {
        width: 0%;
        height: 0%;
    }
}

/* 700px 이하에서는 페이지 메뉴도 사라지도록 */
@media ( max-width: 700px ) {
    #AB-Content-Inner-Logoarea {
        width: 20%;
        height: 100%;
    
        background-image: url("../../img/ect/genshinimpectlogo.png");
        background-size: 120px 60px;
        background-repeat: no-repeat;
        background-position: 0px 5px;
    
        /* 영역 확인용 경계선 설정 */
        /* border: 1px solid black; */
    }
    
    #AB-Content-Inner-Pagemenuarea {
        width: 80%;
        height: 100%;

        /* 영역 확인용 경계선 설정 */
        /* border: 1px solid black; */
    }
    
    #AB-Content-Inner-Usermenuarea {
        width: 0%;
        height: 0%;

        display: none;
    
        /* 영역 확인용 경계선 설정 */
        /* border: 1px solid black; */
    }

    /* 반응형 전용 메뉴 CSS */
    /* hover 사용시 원인불명의 CSS 충돌 현상이 생겨 해결시까지 사용 중단 */
    #AB-Content-Inner-ResponsiveWebMenuarea {
        width: 0%;
        height: 0%;
    }
    #AB-Content-Inner-ResponsiveWebMenuarea-Button-box {
        width: 100px;
        height: 45px;
    
        margin-top: 25px;
    }
    
    #AB-Content-Inner-ResponsiveWebMenuarea-Button-box > * {
        color: white;
    
        text-decoration: none;
        font-family: 'GIfont';
        font-size: large;
        font-weight: 100;
    
        /* 커서가 올라가면 글자 뒤에 배경색이 띄워지는 CSS (아래 절반만 배경)  */
        /* background-image: linear-gradient(transparent calc(100% - 3px), #000 3px); */
    }
    
    #AB-Content-Inner-ResponsiveWebMenuarea-Button-box > *:hover {
        /* color: red; */
        border-bottom: 3px solid blue; 
        line-height: 1.2;
    
        text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    
        /* 커서가 올라가면 글자 뒤에 배경색이 띄워지는 CSS (아래 절반만 배경)  */
        /* background-image: linear-gradient(transparent 60%, gray 40%); */
    }
    
    /* 하단 메뉴를 숨김, 커서가 올라갈 때에만 메뉴가 드러나도록 조치 */

    
    #AB-Content-Inner-ResponsiveWebMenuarea-Button-box-li-ul {
        background: black;

        position: absolute;
        visibility: hidden;

        /* 영역 확인용 경계선 설정 */
        /* border: 1px solid white; */
    }
    
    #AB-Content-Inner-ResponsiveWebMenuarea-Button-box-li:hover #AB-Content-Inner-ResponsiveWebMenuarea-Button-box-li-ul {
        visibility: visible;
    }
}
