<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.privproject.genshinimpectweb.Mapper.BoardMapper">
    <select id="getallboardlist" resultType="com.privproject.genshinimpectweb.Entity.BoardDto">
        SELECT *
        FROM board_tb
        WHERE b_delete_state != 'Y'
    </select>

    <select id="getBoardByNumber" resultType="com.privproject.genshinimpectweb.Entity.BoardDto" parameterType="com.privproject.genshinimpectweb.Entity.BoardDto">
        SELECT *
        FROM board_tb
        WHERE b_number_pk = #{b_number_pk}
    </select>

    <insert id="boardWrite" parameterType="com.privproject.genshinimpectweb.Entity.BoardDto">
        INSERT INTO board_tb(B_TITLE, B_CONTENT, B_WRITE_TIME, B_DELETE_STATE, B_ATTACH_FILE_INFO)
        VALUES (#{b_title}, #{b_content}, now(), 'N', '없음')
    </insert>
</mapper>
