<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.privproject.genshinimpectweb.Mapper.BoardMapper">
    <select id="getallboardlist" resultType="com.privproject.genshinimpectweb.Entity.BoardDto">
        SELECT *
        FROM board_tb
        WHERE b_delete_state = 'N'
    </select>

    <insert id="boardWrite" parameterType="com.privproject.genshinimpectweb.Entity.BoardDto">
        INSERT INTO board_tb(B_TITLE, B_CONTENT, B_WRITE_TIME, B_DELETE_STATE, B_ATTACH_FILE_INFO)
        VALUES (#{b_title}, #{b_content}, now(), 'N', '없음')
    </insert>

    <update id="boardUpdate" parameterType="com.privproject.genshinimpectweb.Entity.BoardDto">
        UPDATE board_tb
        SET B_TITLE = #{b_title}, B_CONTENT = #{b_content}, B_WRITE_TIME = now()
        WHERE B_NUMBER_PK = #{b_number_pk}
    </update>

    <update id="boardDelete" parameterType="com.privproject.genshinimpectweb.Entity.BoardDto">
        UPDATE board_tb
        SET B_DELETE_STATE = 'Y'
        WHERE B_NUMBER_PK = #{b_number_pk}
    </update>

</mapper>
